<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="vanio_domain.pagination.page_param_converter.class">Vanio\DomainBundle\Pagination\PageParamConverter</parameter>
        <parameter key="vanio_domain.pagination.order_by_param_converter.class">Vanio\DomainBundle\Pagination\OrderByParamConverter</parameter>
        <parameter key="vanio_domain.pagination.filter_param_converter.class">Vanio\DomainBundle\Pagination\FilterParamConverter</parameter>
        <parameter key="vanio_domain.pagination.multilingual_filter_param_converter.class">Vanio\DomainBundle\Pagination\MultilingualFilterParamConverter</parameter>
        <parameter key="vanio_domain.request.accept_header_param_converter.class">Vanio\DomainBundle\Request\AcceptHeaderParamConverter</parameter>
        <parameter key="vanio_domain.request.get_post_param_converter.class">Vanio\DomainBundle\Request\GetPostParamConverter</parameter>
        <parameter key="vanio_domain.request.locale_param_converter.class">Vanio\DomainBundle\Request\LocaleParamConverter</parameter>
        <parameter key="vanio_domain.request.sluggable_param_converter.class">Vanio\DomainBundle\Request\SluggableParamConverter</parameter>
        <parameter key="vanio_domain.request.uuid_param_converter.class">Vanio\DomainBundle\Request\UuidParamConverter</parameter>
        <parameter key="vanio_domain.unexpected_response.unexpected_response_listener.class">Vanio\DomainBundle\UnexpectedResponse\UnexpectedResponseListener</parameter>
        <parameter key="vanio_domain.form.collection_extension.class">Vanio\DomainBundle\Form\CollectionExtension</parameter>
        <parameter key="vanio_domain.form.required_extension.class">Vanio\DomainBundle\Form\RequiredExtension</parameter>
        <parameter key="vanio_domain.form.validation_extension.class">Vanio\DomainBundle\Form\ValidationExtension</parameter>
        <parameter key="vanio_domain.validator.unique_validator.class">Vanio\DomainBundle\Validator\UniqueValidator</parameter>
        <parameter key="vanio_domain.validator.not_referenced_validator.class">Vanio\DomainBundle\Validator\NotReferencedValidator</parameter>
        <parameter key="vanio_domain.translatable.translatable_listener.class">Vanio\DomainBundle\Translatable\TranslatableListener</parameter>
        <parameter key="vanio_domain.translatable.current_locale_callable.class">Vanio\DomainBundle\Translatable\CurrentLocaleCallable</parameter>
        <parameter key="vanio_domain.translatable.default_locale_callable.class">Vanio\DomainBundle\Translatable\DefaultLocaleCallable</parameter>
        <parameter key="vertigolabs_doctrine_full_text_postgres.common.ts_vector_subscriber.class">VertigoLabs\DoctrineFullTextPostgres\Common\TsVectorSubscriber</parameter>
    </parameters>

    <services>
        <service id="vanio_domain.pagination.page_param_converter" class="%vanio_domain.pagination.page_param_converter.class%" public="false">
            <argument>%vanio_domain.pagination_default_options%</argument>
            <tag name="request.param_converter" priority="1" converter="page"/>
        </service>

        <service id="vanio_domain.pagination.order_by_param_converter" class="%vanio_domain.pagination.order_by_param_converter.class%" public="false">
            <argument>%vanio_domain.pagination_default_options%</argument>
            <tag name="request.param_converter" priority="1" converter="order_by"/>
        </service>

        <service id="vanio_domain.pagination.filter_param_converter" class="%vanio_domain.pagination.filter_param_converter.class%" public="false">
            <argument>%vanio_domain.pagination_default_options%</argument>
            <tag name="request.param_converter" priority="1" converter="filter"/>
        </service>

        <service id="vanio_domain.pagination.multilingual_filter_param_converter" class="%vanio_domain.pagination.multilingual_filter_param_converter.class%" public="false">
            <tag name="request.param_converter" priority="1" converter="multilingual_filter"/>
        </service>

        <service id="vanio_domain.request.accept_header_param_converter" class="%vanio_domain.request.accept_header_param_converter.class%" public="false">
            <tag name="request.param_converter" converter="accept_header"/>
        </service>

        <service id="vanio_domain.request.get_post_param_converter" class="%vanio_domain.request.get_post_param_converter.class%" abstract="true" public="false">
            <argument type="service" id="router"/>
            <argument type="service" id="router.default" on-invalid="null"/>
            <argument type="service" id="be_simple_i18n_routing.loader.annotation_class" on-invalid="null"/>
            <argument type="service" id="doctrine" on-invalid="null"/>
        </service>

        <service id="vanio_domain.request.locale_param_converter" class="%vanio_domain.request.locale_param_converter.class%" public="false">
            <tag name="request.param_converter" priority="1" converter="locale"/>
        </service>

        <service id="vanio_domain.request.sluggable_param_converter" class="%vanio_domain.request.sluggable_param_converter.class%" public="false">
            <argument type="service" id="doctrine" on-invalid="null"/>
            <tag name="request.param_converter" converter="sluggable"/>
        </service>

        <service id="vanio_domain.request.uuid_param_converter" class="%vanio_domain.request.uuid_param_converter.class%" public="false">
            <tag name="request.param_converter" priority="1" converter="uuid"/>
        </service>

        <service id="vanio_domain.unexpected_response.unexpected_response_listener" class="%vanio_domain.unexpected_response.unexpected_response_listener.class%">
            <tag name="kernel.event_listener" event="kernel.exception" method="onKernelException" priority="1024"/>
        </service>

        <service id="vanio_domain.form.collection_extension" class="%vanio_domain.form.collection_extension.class%">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\CollectionType"/>
        </service>

        <service id="vanio_domain.form.required_extension" class="%vanio_domain.form.required_extension.class%">
            <argument type="service" id="validator"/>
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_domain.form.validation_extension" class="%vanio_domain.form.validation_extension.class%">
            <argument type="service" id="translator"/>
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_domain.validator.unique_validator" class="%vanio_domain.validator.unique_validator.class%">
            <argument type="service" id="doctrine"/>
            <tag name="validator.constraint_validator" alias="vanio_domain.validator.unique"/>
        </service>

        <service id="vanio_domain.validator.not_referenced_validator" class="%vanio_domain.validator.not_referenced_validator.class%">
            <argument type="service" id="doctrine"/>
            <tag name="validator.constraint_validator" alias="vanio_domain.validator.not_referenced"/>
        </service>

        <service id="vanio_domain.translatable.translatable_listener" class="%vanio_domain.translatable.translatable_listener.class%" abstract="true" public="false">
            <argument type="service" id="vanio_domain.translatable.current_locale_callable"/>
            <argument type="service" id="vanio_domain.translatable.default_locale_callable"/>
            <argument>%vanio_domain.translatable.translatable_fetch_mode%</argument>
            <argument>%vanio_domain.translatable.translation_fetch_mode%</argument>
        </service>

        <service id="vanio_domain.translatable.current_locale_callable" class="%vanio_domain.translatable.current_locale_callable.class%" public="false">
            <argument type="service" id="request_stack"/>
        </service>

        <service id="vanio_domain.translatable.default_locale_callable" class="%vanio_domain.translatable.default_locale_callable.class%" public="false">
            <argument type="service" id="request_stack"/>
        </service>

        <service id="vertigolabs_doctrine_full_text_postgres.common.ts_vector_subscriber" class="%vertigolabs_doctrine_full_text_postgres.common.ts_vector_subscriber.class%">
            <tag name="doctrine.event_subscriber"/>
        </service>

        <service id="Doctrine\ORM\EntityManager" alias="doctrine.orm.entity_manager"/>
    </services>
</container>
